<div class="container">
  <h1 class="text-center">ブログ</h1>
  <% @articles.each do |article| %>
	<%= link_to article do %>
	<div class="col-md-4 margin-top-5per article-back">
		<%= image_tag 'hukurou.jpeg', class: "img-responsive padding-top-15" %>
		<div class="padding-bottom-15">
		  <p class="title"><%= article.title %></p>
		  <span>
		  	<%= article.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
		  </span>
		</div>
	</div>
	<% end %>
  <% end %>
</div>
